<!DOCTYPE html>
<html lang="en">

<head>
    <title>DoanBaixe</title>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">-->
</head>

<body>
<div style="overflow:hidden; height:100%">
        <table border="2" cellpadding="50" cellspacing="5" width="100%" height="99%">
		<caption>BÃI GIỮ XE TỰ ĐỘNG</caption>
		
		<tr> <!--hang-->
<!--cot-->	<td  style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 1     .
			<img id="Xe1" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 2     .
			<img id="Xe2" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 3     .
			<img id="Xe3" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td rowspan="3">Hướng dẫn sử dụng hoặc ghi chú trong này</td>

		</tr>

				<tr> <!--hang-->
<!--cot-->	<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 4     .
			<img id="Xe4" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 5     .
			<img id="Xe5" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 6     .
			<img id="Xe6" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>

		</tr>
				<tr> <!--hang-->
<!--cot-->	<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > 7     .
			<img id="Xe7" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > In     .
			<img id="XeIn" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>
			<td style="color:#0000ff" width="23%" height="33%" bgcolor="white"> <p style="font-size:53px" > Out     .
			<img id="XeOut" align="center" src="https://vignette.wikia.nocookie.net/ben10/images/b/b0/Kev%27s_car.jpg/revision/latest?cb=20110418140048" width="100" height="100">
			</p>
			</td>

		</tr>


	</table>
</div>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/mine.js"></script>
    <script>
    </script>
</body>

</html>